<p id="notice"><%= notice %></p>

<h1><%= @game %></h1>

<br/>

<h2>Participants</h2>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @participants.each do |participant| %>
      <tr>
        <td><%= participant.owner %></td>
        <td><%= link_to 'Join', update_participant_path(@game, participant, :participant => {:opponent_id => current_user, :owner_id => participant.owner_id, :game_id => participant.game_id, :winner_id => nil, :waiting_for_user_id => participant.owner, :status => "waiting", :game_data => nil}), method: :PUT, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
